In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from matplotlib import pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('/kaggle/input/df-cleaning/Country_age_salary_purchased.csv')

In [3]:
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

In [5]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [6]:
# Taking care of Missing Data
imputer = SimpleImputer(strategy = 'mean')

In [7]:
df['Salary'] = imputer.fit_transform(df[['Salary']])

In [8]:
df

   Country   Age        Salary Purchased
0   France  44.0  72000.000000        No
1    Spain  27.0  48000.000000       Yes
2  Germany  30.0  54000.000000        No
3    Spain  38.0  61000.000000        No
4  Germany  40.0  63777.777778       Yes
5   France  35.0  58000.000000       Yes
6    Spain   NaN  52000.000000        No
7   France  48.0  79000.000000       Yes
8  Germany  50.0  83000.000000        No
9   France  37.0  67000.000000       Yes

In [9]:
df['Age'] = imputer.fit_transform(df[['Age']])

In [10]:
df

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [11]:
encoder = OneHotEncoder(sparse_output = False)
en_countries = encoder.fit_transform(df[['Country']])

In [12]:
en_countries

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [13]:
en_countries_columns = encoder.get_feature_names_out(['Country'])

In [14]:
en_countries_df = pd.DataFrame(en_countries,columns = en_countries_columns)

In [15]:
en_countries_df = pd.DataFrame(en_countries,columns = en_countries_columns)
df = pd.concat([df.drop(columns = ['Country']),en_countries_df],axis = 1)

In [16]:
df

,Age,Salary,Purchased,Country_France,Country_Germany,Country_Spain
0,44.000000,72000.000000,No,1.0,0.0,0.0
1,27.000000,48000.000000,Yes,0.0,0.0,1.0
2,30.000000,54000.000000,No,0.0,1.0,0.0
3,38.000000,61000.000000,No,0.0,0.0,1.0
4,40.000000,63777.777778,Yes,0.0,1.0,0.0
5,35.000000,58000.000000,Yes,1.0,0.0,0.0
6,38.777778,52000.000000,No,0.0,0.0,1.0
7,48.000000,79000.000000,Yes,1.0,0.0,0.0
8,50.000000,83000.000000,No,0.0,1.0,0.0
9,37.000000,67000.000000,Yes,1.0,0.0,0.0

In [17]:
# Apply Label Encoder to the purchased columns
label_encoder = LabelEncoder()
df['Purchased'] = label_encoder.fit_transform(df['Purchased'])

In [18]:
df

,Age,Salary,Purchased,Country_France,Country_Germany,Country_Spain
0,44.000000,72000.000000,0,1.0,0.0,0.0
1,27.000000,48000.000000,1,0.0,0.0,1.0
2,30.000000,54000.000000,0,0.0,1.0,0.0
3,38.000000,61000.000000,0,0.0,0.0,1.0
4,40.000000,63777.777778,1,0.0,1.0,0.0
5,35.000000,58000.000000,1,1.0,0.0,0.0
6,38.777778,52000.000000,0,0.0,0.0,1.0
7,48.000000,79000.000000,1,1.0,0.0,0.0
8,50.000000,83000.000000,0,0.0,1.0,0.0
9,37.000000,67000.000000,1,1.0,0.0,0.0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              10 non-null     float64
 1   Salary           10 non-null     float64
 2   Purchased        10 non-null     int64
 3   Country_France   10 non-null     float64
 4   Country_Germany  10 non-null     float64
 5   Country_Spain    10 non-null     float64
dtypes: float64(5), int64(1)
memory usage: 608.0 bytes

In [20]:
X = df.drop(columns = 'Purchased',axis = 1)

In [21]:
X

         Age        Salary  Country_France  Country_Germany  Country_Spain
0  44.000000  72000.000000             1.0              0.0            0.0
1  27.000000  48000.000000             0.0              0.0            1.0
2  30.000000  54000.000000             0.0              1.0            0.0
3  38.000000  61000.000000             0.0              0.0            1.0
4  40.000000  63777.777778             0.0              1.0            0.0
5  35.000000  58000.000000             1.0              0.0            0.0
6  38.777778  52000.000000             0.0              0.0            1.0
7  48.000000  79000.000000             1.0              0.0            0.0
8  50.000000  83000.000000             0.0              1.0            0.0
9  37.000000  67000.000000             1.0              0.0            0.0

In [22]:
y = df['Purchased']

In [23]:
y

0    0
1    1
2    0
3    0
4    1
5    1
6    0
7    1
8    0
9    1
Name: Purchased, dtype: int64

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=101)

In [25]:
X_train

         Age        Salary  Country_France  Country_Germany  Country_Spain
0  44.000000  72000.000000             1.0              0.0            0.0
4  40.000000  63777.777778             0.0              1.0            0.0
9  37.000000  67000.000000             1.0              0.0            0.0
3  38.000000  61000.000000             0.0              0.0            1.0
5  35.000000  58000.000000             1.0              0.0            0.0
7  48.000000  79000.000000             1.0              0.0            0.0
6  38.777778  52000.000000             0.0              0.0            1.0
1  27.000000  48000.000000             0.0              0.0            1.0

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
scaler = StandardScaler()

In [28]:
X_train[['Age','Salary']] = scaler.fit_transform(X_train[['Age','Salary']])

In [29]:
X_test[['Age','Salary']] = scaler.fit_transform(X_test[['Age','Salary']])

In [30]:
X_train

        Age    Salary  Country_France  Country_Germany  Country_Spain
0  0.951826  0.986148             1.0              0.0            0.0
4  0.263068  0.123815             0.0              1.0            0.0
9 -0.253501  0.461756             1.0              0.0            0.0
3 -0.081312 -0.167514             0.0              0.0            1.0
5 -0.597881 -0.482149             1.0              0.0            0.0
7  1.640585  1.720297             1.0              0.0            0.0
6  0.052614 -1.111420             0.0              0.0            1.0
1 -1.975398 -1.530933             0.0              0.0            1.0

In [31]:
X_test

   Age  Salary  Country_France  Country_Germany  Country_Spain
8  1.0     1.0             0.0              1.0            0.0
2 -1.0    -1.0             0.0              1.0            0.0

In [32]:
y_train

0    0
4    1
9    1
3    0
5    1
7    1
6    0
1    1
Name: Purchased, dtype: int64

In [33]:
y_test

8    0
2    0
Name: Purchased, dtype: int64

In [34]:
# # Encoding Categorical Data (only Country)
# from sklearn.compose import ColumnTransformer
# from sklearn.preprocessing import OneHotEncoder
# ct = ColumnTransformer(transformers = [('encoder',OneHotEncoder(),['Country'])],remainder = 'passthrough')
# df = ct.fit_transform(df)

In [35]:
# df = pd.DataFrame(df,columns = ['Country_France','Country_Germany','Country_Spain','Age','Salary','Purchased'])

In [36]:
# df